{% extends "base.html" %}

{% block title %}О нас{% endblock %}
{% block heading %}О нас{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; padding: 15px; background-color: #53679C; font-family: Arial, sans-serif; gap: 20px;">
    <div class="student-info">
    <p>Мы не смотрим аниме</p>
    <p>Мы предлагаем уникальный взгляд на современные технологии и методы защиты информационных систем. В ходе обучения вы познакомитесь с основами сетевой безопасности, узнаете, как предотвращать атаки и защищать данные в условиях постоянно меняющейся киберугрозы.</p>
    <p>Особое внимание будет уделено практическим аспектам защиты сетей, анализу уязвимостей, устройству систем обнаружения и предотвращения вторжений.</p>
    <p>Наши курсы предназначены для студентов и специалистов средней квалификации, желающих повысить свои знания в области сетевой безопасности.</p>
    </div>
    <img src="https://avatars.mds.yandex.net/i?id=d86d1cac7ac74922748e492a21526dda_l-6475641-images-thumbs&n=13" 
         alt="Аватар" style="background-color: transparent; max-width: 800px; height: auto; order: 1;">
</div>
{% endblock %}