<!DOCTYPE html>
<html>
<head>
    <title>Fefu_lab - {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <div class="navigation">
    <a href="{% url 'home' %}">Главная</a> | 
    <a href="{% url 'about' %}">О нас</a> | 
    <a href="{% url 'feedback_view' %}">Обратная связь</a> | 
    <a href="{% url 'course_list' %}">Курсы</a> |

    {% if user.is_authenticated %}
        {% if user.student_profile.role == 'TEACHER' or user.student_profile.role == 'ADMIN' %}
            <a href="{% url 'teacher_dashboard' %}">Дашборд</a> |
        {% else %}
            <a href="{% url 'student_dashboard' %}">Дашборд</a> |
        {% endif %}
        <a href="{% url 'profile' %}">Профиль ({{ user.first_name }})</a> |
        {% if user.is_staff %}
            <a href="/admin/">Админка</a> |
        {% endif %}
        <a href="{% url 'logout_view' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login_view' %}">Вход</a> |
        <a href="{% url 'register_view' %}">Регистрация</a>
    {% endif %}

</div>
    <h1>{% block heading %}{% endblock %}</h1>
    
    {% block content %}{% endblock %}
</body>
</html>