{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}
{% block heading %}Добро пожаловать на главную страницу!{% endblock %}

{% block content %}
<div style="text-align: center; padding: 10px; background-color: #53679C; font-family: Arial, sans-serif;">
    <img src="https://i.pinimg.com/originals/54/d6/60/54d6607ae8467fa9d9ca2dde7a1c20e7.jpg" 
         alt="Главное изображение" style="background-color: transparent; max-width: 740px; height: auto; margin: 0 auto;">
</div>

{% endblock %}