body { 
  font-family: Arial, sans-serif; 
  text-align: left; 
  padding: 40px; 
  background-color: #53679d; 
}

h1 { font-size: 48px; text-align: center; color: #F8C87C; }

.navigation {
background-color: #80002f;
padding: 10px 20px;
text-align: center;
border-radius: 5px;
margin-bottom: 30px;
}

.navigation a {
color: #F8C87C;
text-decoration: none;
font-weight: bold;
margin: 0 10px;
padding: 5px 10px;
border-radius: 3px;
transition: background-color 0.3s ease;
}

.navigation a:hover {
background-color: #131c34;
}

.student-info {
background-color: #004080;
border: 2px solid #F8C87C;
border-radius: 8px;
padding: 20px;
max-width: 600px;
margin: left;
font-size: 1.1em;
line-height: 1.6;
color: #F8C87C;
}

.student-info p {
margin: 10px 0;
}

ul li {
  margin-bottom: 8px;
}

ul li a {
  color: #F8C87C;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

ul li a:hover {
  color: #131c34;
}

h3 { font-size: 1.3em; text-align: left; color: #F8C87C; }